*{
    padding: 0;
    margin: 0;
}
.child1{
    background-image:linear-gradient(to right, red,darkgreen,lightgreen,yellow);
    height: 10%;
    width: 100%;
    text-align: center;
}
.child2{
    background-color: rgb(11, 175, 240);
    border: 4px solid red;
    border-radius: 10px;
    width: 50%;
    height: 40%;
   position: relative;
   left: 25%;
text-align: center;
}
.lorem{
    width: 100%;
    height: 25%;
    border: 2px solid brown;
    background-color: lightseagreen;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 0%;
}
.lorem1{
    background-color: aqua;
    text-align: center;
    font-style: bold;
    border: 2px solid green;
    width: 25%;
    height: 35%;
    position: absolute;
    top: 5%;
    left: 2%;
    border-radius: 10px;
     /* padding: 10px;  */
}
    
.lorem2{
    background-color: aqua;
    text-align: center;
    font-style: bold;
    border: 2px solid green;
    width: 25%;
    height: 35%;
    position: absolute;
    top: 5%;
    left: 40%;
    border-radius: 10px; 
    /* padding: 10px;    */
}
.lorem3{
    background-color: aqua;
    text-align: center;
    font-style: bold;
    border: 2px solid green;
    width: 25%;
    height: 35%;
    position: absolute;
    top: 5%;
    right: 3%;
   
    border-radius: 10px;
     /* padding: 10px;  */
}
.lorem4{
    background-color: aqua;
    text-align: center;
    font-style: bold;
    border: 2px solid green;
     /* padding: 10px;   */
    border-radius: 10px;
    width: 25%;
    height: 35%;
    position: absolute;
    top: 43%;
    left: 40%;
}

  
.child3{
    background-image: linear-gradient(to left, red,yellow,red);
    text-align: center;
    text-decoration: underline;
    height: 40px;
}
.parent4{
    display: flex;
    flex-wrap: wrap;
    background-image: radial-gradient(rgb(14, 165, 224)50%,green);
    border: 2px solid green;
    border-radius: 10px;
    height: 60%;
    width: 100%;
    text-decoration: underline;
}
.child4{
  background-color: rgb(247, 223, 8);
  color: brown;  
  border: 2px;
  border-radius: 10px;
  height: 50%;
  width: 10%;
  margin: 50px;
  padding: 40px;
}
.c4{
    padding: 10px;
}
.c5{
 background-color: rgb(202, 16, 16); 
 text-align: center;
 color: white;
 width: 100%;
 height: 40%;  
}
.container{
    background-color: white;
    /* height: 50%;
     width: 100%; */
    display: grid;
    /* grid-template-rows: 133px 133px 133px 133px; 
     grid-template-columns: 133px 133px 133px 133px; */
     /* grid-template-columns: repeat(1,4fr); */
    /* grid-template-columns: repeat(2,1fr);  */
    grid-template-columns: 1fr,1fr,1fr,1fr;
    grid-template-rows: 45px,1fr,45px,1fr; 
    /* grid-template-columns: repeat(auto-fill, minmax(200px,1fr)) ; */
    grid-gap: 10px;
    /* grid-auto-rows: minmax(100px,auto);
    grid-auto-columns:minmax(50px,auto); */
     /* row-gap: 12px;
    column-gap: 12px; */
    /* grid-template-columns: 4.1fr;
    grid-column-start: 1;
    grid-column-end: 3; */
} 
.item{
    /* background-color: aqua; */
    border: 3px solid red;
    border-radius: 3px;
}
  .item1{
    background-color: rgb(238, 42, 42);
    color: white;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 30px;
    text-align: center;
    padding: 10px;
   
} 
 .item2{
background-color: green;
color: white;
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 2;
grid-row-end: 3;
height: 80px;
text-align: center;
padding: 10px;
}
 .item3{
background-color: rgb(44, 167, 216);
color: white;
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 3;
height: 80px;
text-align: center;
padding: 10px;
} 
.item4{
    background-color: blue;
color: white;
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 2;
grid-row-end: 3;
height: 80px;
text-align: center;
padding: 10px;
 } 
 .item5{
background-color: black;
color: white;
grid-column-start: 4;
grid-column-end: 5;
grid-row-start: 2;
grid-row-end: 4;
height: 200px;
width: 120px;
/* line-height: 30px; */
/* justify-content: center; */
text-align: center;
padding: 10px;
text-decoration: underline;
} 
 .item6{
background-color: rgb(160, 144, 2);
color: white;
grid-column-start: 1;
grid-column-end: 4;
grid-row-start: 3;
grid-row-end: 5;
height: 80px;
text-align: center;
padding: 10px;
}
 .item7{
background-color: skyblue;
color: black;
grid-column-start: 1;
grid-column-end: 5;
grid-row-start: 4;
grid-row-end: 5;
text-align: center;
padding: 10px;
} 
